<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Page Not Found</title>
		<meta name="description" content="What the fuck is oatmeal?">
		<link id="favicon" rel="icon" href="/pictures/icon.png" type="image/x-icon">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/404.css">
	</head>
	<body >
		<main>
			<div class="main" style="text-align: center; margin: auto; width: 800px; height: 500px;">
				<img src="/pictures/tv-error.svg" style="position: relative;">
				<div class="textBox" style="position: absolute; width: 860px; top: 200px; left: calc(50% - 430px); overflow: hidden;">
					<h1 style="background-color: black; color: white;">404</h1>	
					<h3 style="background-color: black; color: white;">This page cannot be found</h3>
				</div>
			</div>
		</main>
	</body>
</html>
