<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sadie :)</title>
		<meta name="description" content="What the fuck is oatmeal?">
		<link id="favicon" rel="icon" href="/pictures/favicon.png" type="image/x-icon">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/editor.css">
        <script src="/js/editor.js" defer></script>
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js" defer></script>
		<script src="https://cdn.jsdelivr.net/npm/svg-pan-zoom@3.5.0/dist/svg-pan-zoom.min.js"></script>
	</head>
	<body>
		<div class="container">
			<div width="20vw" height="100vh" style="background-color: beige">
				
			</div>
			<svg id="cringe" width="80vw" height="100vh">
				<g>
					<circle id="0" cx="10" cy="10" r="10" onclick="doFillDiv(0)" />
				</g>
				Sorry, your browser does not support inline SVG.
			</svg>
		</div>
	</body>
</html>
