<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Durango Gelato</title>
    <link rel="stylesheet" href="/css/gelato.css">
    <script src="/js/gelato.js" defer></script>
</head>
<body>
    <header>
        <h1>Durango Gelato</h1>
        <h4>Coffee & Tea</h4>
    </header>

    <section>
        <div class="main">
            <div class="dropdown-container" onclick="toggleDropdown(`dropdown1`)">
                <h2>Our Hours ↴</h2>
                <div class="dropdown-content" id="dropdown1">
                    <table>
                        <tr>
                            <th>Day</th>
                            <th>Hours</th>
                        </tr>
                        <tr>
                            <td>Monday</td>
                            <td>11:00 AM - 7:00 PM</td>
                        </tr>
                        <tr>
                            <td>Tuesday</td>
                            <td>11:00 AM - 7:00 PM</td>
                        </tr>
                        <tr>
                            <td>Wednesday</td>
                            <td>11:00 AM - 7:00 PM</td>
                        </tr>
                        <tr>
                            <td>Thursday</td>
                            <td>11:00 AM - 7:00 PM</td>
                        </tr>
                        <tr>
                            <td>Friday</td>
                            <td>11:00 AM - 7:00 PM</td>
                        </tr>
                        <tr>
                            <td>Saturday</td>
                            <td>11:00 AM - 7:00 PM</td>
                        </tr>
                        <tr>
                            <td>Sunday</td>
                            <td>11:00 AM - 7:00 PM</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="dropdown-container" onclick="toggleDropdown(`dropdown2`)">
                <h2>Our Flavors ↴</h2>
                <div class="dropdown-content" id="dropdown2">
                    <ul>
                        <li style="color: #663300;">Dark Chocolate</li>
                        <li style="color: #996633;">Vanilla</li>
                        <li style="color: #cc9900;">Sea Salt Caramel</li>
                        <li style="color: #331a00;">Cookies and Cream</li>
                        <li style="color: #4c2600;">Coffee Chocolate Chip</li>
                        <li style="color: #996600;">Hazelnut</li>
                        <li style="color: #331a00;">Chocolate Chip</li>
                        <li style="color: #ffcc00;">Mango</li>
                        <li style="color: #cc0000;">Raspberry</li>
                        <li style="color: #ffcc66;">Banana Dulce De Leche</li>
                        <li style="color: #996633;">Coconut</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="image-container">

        </div>
    </section>
</body>
</html>