<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sadie :)</title>
		<meta name="description" content="What the fuck is oatmeal?">
		<link id="favicon" rel="icon" href="/pictures/favicon.png" type="image/x-icon">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/index.css">
	</head>
	<body>
		<main>
			<div class="main">
				<br/>
				<h1 class="word">
					<span style="--i: 1; color: #ffb3ba;">H</span>
					<span style="--i: 2; color: #ffdfba;">e</span>
					<span style="--i: 3; color: #ffffba;">l</span>
					<span style="--i: 4; color: #baffc9;">l</span>
					<span style="--i: 5; color: #bae1ff;">o</span>
					<span style="--i: 6; color: #ffbaff;">!</span>
				</h1>
				<p>Welcome to my funky fresh website! I am Sadie, a developer!</p>
				<br/>
				<p>Check out my <a href="/spicy">spicy</a> drawling app!</p>
				<p>Or if you are looking for my <a href="/" onclick="javascript:event.target.port=8920">movies</a></p>
			</div>
		</main>
	</body>
</html>
