<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sadie :)</title>
		<meta name="description" content="What the fuck is oatmeal?">
		<link id="favicon" rel="icon" href="/pictures/icon.png" type="image/x-icon">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/style.css">
	</head>
	<body>
		<main>
			<div class="main">
				<h1>Hello, download <a href="/files/forge-1.18.1-39.0.75-installer.jar">this</a> and run it to install forge.</h1>
				<h2>Next download <a href="/files/Beans.zip">this</a> and put it in the mods folder in the mc directory.</h2>
			</div>
		</main>
	</body>
</html>
