<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Boxing Championship</title>
		<meta name="description" content="What the fuck is oatmeal?">
		<link id="favicon" rel="icon" href="/pictures/favicon.png" type="image/x-icon">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/style.css">
		<link rel="stylesheet" href="/css/spicy.css">
		<script src="/js/spicy.js" defer></script>
	</head>
	<body>
		<main>
			<div class="color-palette">
				<div class="color" style="background-color: #ffb3ba;" onclick="clicky2('#ffb3ba')"></div> <!-- Red -->
				<div class="color" style="background-color: #ffdfba;" onclick="clicky2('#ffdfba')"></div> <!-- Orange -->
				<div class="color" style="background-color: #ffffba;" onclick="clicky2('#ffffba')"></div> <!-- Yellow -->
				<div class="color" style="background-color: #baffc9;" onclick="clicky2('#baffc9')"></div> <!-- Green -->
				<div class="color" style="background-color: #bae1ff;" onclick="clicky2('#bae1ff')"></div> <!-- Blue -->
				<div class="color" style="background-color: #ffbaff;" onclick="clicky2('#ffbaff')"></div> <!-- Purple -->
				<div class="color" style="background-color: #333333;" onclick="clicky2('#333333')"></div> <!-- Pastel Black -->
				<div class="color" style="background-color: #f5f5f5;" onclick="clicky2('#f5f5f5')"></div> <!-- Pastel White -->
			</div>
			<div class="main">
				
			</div>
		</main>
	</body>
</html>
