<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Sadie :)</title>
		<meta name="description" content="What the fuck is oatmeal?">
		<link id="favicon" rel="icon" href="/pictures/favicon.png" type="image/x-icon">
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/style.css">
        <script src="/js/test.js" defer></script>
	</head>
	<body>
		<main>
			<div class="main" style="display: flex;">
				<div>
					<form id="sendthing">
						<label for="location">Send to:</label>
						<input type="text" id="location" name="location">
						<br/>
						<label for="sendtype">Send Thing:</label>
						<select id="sendtype" name="sendtype">
							<option value="GET">GET</option>
							<option value="POST">POST</option>
							<option value="PUT">PUT</option>
							<option value="PATCH">PATCH</option>
							<option value="DELETE">DELETE</option>
						</select>
						<br/>
						<label for="jsdata">Input Data:</label><br/>
						<textarea id="jsdata" name="jsdata">{ "data": { "test": "your stuff here" } }</textarea>
						<br/>
						<input type="submit" value="Submit">
					</form>
				</div>
				<div id="output" style="color: white; background-color: black; opacity: 80%; border-radius: 5%; width: 45vw; height: 50vh;">

				</div>
			</div>
		</main>
	</body>
</html>
