body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #797596;
    background-image: linear-gradient(to bottom right, #963484, #3066be);
    color: #333;
    /*overflow: hidden;*/
    height: 100vh;
    position: relative;
}

header {
    height: 8vh;
    text-align: center;
    color: white;
    padding: 2vh 2vw;
}

header h1, header h4, h2  {
    margin: 0;
}



section {
    margin: auto;
    width: 100%;
    height: 84vh;
}

table {
    width: 100%;
    margin-bottom: 20px;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 10px;
    text-align: center;
}

select {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
}

.main {
  width: 80%;
  height: 98%;
  margin: 2vh auto;
  padding: 1vh 1vw;
  background-color: #f4f4f4;
  opacity: 60%;
  border-radius: 25px;
  overflow: scroll;
}

.image-container {
    position: absolute;
    overflow: hidden;
    z-index: -1;
    top: -10vh;
    left: 0;
    width: 100vw;
    height: 110vh;
    pointer-events: none; /* Prevent images from interfering with clicks */
}

.image {
    position: absolute;
    border-radius: 50%; /* Optional: make images circular */
    animation: fall linear infinite;
}

@keyframes fall {
    to {
        transform: translateY(100vh) rotate(360deg);
        opacity: 0;
    }
}