.color-palette {
    display: flex;
  }
  
  .color {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin: 10px;
    border: solid;
    border-color: gray;
  }
  
  main {
    overflow: scroll;
  }